<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Заведение заявки</title>
</head>
<body>
    <div class="col hed" id="header_style">
        <header>
            <h2>Альфа-банк</h2>
        </header>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="input-group flex-nowrap">
                    <input id="inputSurname" type="text" class="form-control" placeholder="Фамилия">
                </div>
                <div class="input-group flex-nowrap">
                    <input id="inputName" type="text" class="form-control" placeholder="Имя">
                </div>
                <div class="input-group flex-nowrap">
                    <input id="inputFather" type="text" class="form-control" placeholder="Очество">
                </div>

                <div>
                    <select id="inputReference" class="form-select" aria-label="Default select example" style="background: #f2182d;">
                        <option selected>Выбирите справку</option>
                        <option value="1">Выписка по счетам</option>
                        <option value="2">Справка об отсудствии задолжности</option>
                        <option value="3">Информация по кредиту</option>
                        <option value="4">Выписка о наличии остатков</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12" style="margin: 70px;">
                <div class="btn-group" role="group" aria-label="Basic example" style="margin-top: 50px;" id="docsType">
                    <input type="radio" class="btn-check" name="options" id="option1" autocomplete="off">
                    <label class="btn btn-danger" style="background: #e80000;" for="option1">Паспорт</label>

                    <input type="radio" class="btn-check" name="options" id="option2" autocomplete="off">
                    <label class="btn btn-danger" style="background: #e80000;" for="option2">Водительские права</label>

                    <input type="radio" class="btn-check" name="options" id="option3" autocomplete="off">
                    <label class="btn btn-danger" style="background: #e80000;" for="option3">Загран паспорт</label>

                    <input type="radio" class="btn-check" name="options" id="option4" autocomplete="off">
                    <label class="btn btn-danger" style="background: #e80000;" for="option4">Вид на жительство</label>
                </div>
                <button id="btn-send" class="btn btn-danger btn-lg" style="float: right; margin: 50px; background: #e80000;">отправить</button>
            </div>
        </div>
    </div>

    <button class="btn btn-outline-danger" onclick="location.href='/'" id="btn_back">
        <img src="https://gb2.infomed39.ru/upload/medialibrary/1ac/27mrkyfe33b4svv2swwhpjtftyosal62/ddb2de16735c7bbf6ad3a6ad748d12e7_w200.gif" style="width: 50px;">
    </button>
</body>
<script>
    $("#btn-send").click(function() {
        var surname = $("#inputSurname").val();
        var name = $("#inputName").val();
        var father = $("#inputFather").val();
        var reference = $("#inputReference option:selected").text();
        var input_id = $("#docsType input:checked").attr("id");
        var docsType = $("#docsType label[for='" + input_id + "']").text();

        $.ajax({
            type: "POST",
            url: "/index",
            contentType: "application/json",
            data: JSON.stringify({"surname": surname, "name": name, "father": father, "reference": reference, "docsType": docsType}),
            success: function () {
                swal("Альфа-банк 🅰️", "Справка создана", "success");
            },
            error: function () {
                swal("🤬", "Ошибка сервера", "warning");
            }
        });
    })
</script>
</html>