<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Калькулятор</title>
</head>
<body>
    <div class="col hed" id="header_style">
        <header>
            <h2>Альфа-банк</h2>
        </header>
    </div>
    <div style="margin: 180px;">
        <h1></h1>
    </div>
<!--    Главный контейнер-->
    <div class="container">
<!--        контейнер-строка-->
        <div class="row">
            <div class="col-1">
            </div>
            <div class="col-10 range" style="text-align: center;">
                <h4>Выбирите возраст</h4>
                <div class="value left">18</div>
                <input id="rang" name="flexRadioDefault" style="width: 20%;" class="form-range" type="range" min="18" max="60" value="18" step="1">
                <span id="ran">18</span>
                <div class="value right">60</div>

<!--                </div>-->
<!--                <div class="form-check form-check-inline">-->
<!--                    <input value="30-40" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">-->
<!--                    <label class="form-check-label" for="flexRadioDefault2">30-40</label>-->
<!--                </div>-->
<!--                <div class="form-check form-check-inline">-->
<!--                    <input value="40-50" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">-->
<!--                    <label class="form-check-label" for="flexRadioDefault3">40-50</label>-->
<!--                </div>-->
<!--                <div class="form-check form-check-inline">-->
<!--                    <input value="50-60" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4">-->
<!--                    <label class="form-check-label" for="flexRadioDefault4">50-60</label>-->
                </div>
                </form>
            </div>
            <div class="col-1">
            </div>
        </div>

        <div class="row" style="margin-top: 25px;">
            <div class="col-1">
            </div>
            <div class="col-10">
                <div style="text-align: center;">
                    <h4>Семейное положение</h4>
                    <form id="my_form2">
                    <div class="form-check form-check-inline">
                        <input value="Женат" class="form-check-input" type="radio" name="RadioDefault" id="flexRadioDefault5">
                        <label class="form-check-label" for="flexRadioDefault1">Женат</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input value="Не женат" class="form-check-input" type="radio" name="RadioDefault" id="flexRadioDefault6">
                        <label class="form-check-label" for="flexRadioDefault1">Не женат</label>
                    </div>
                    </form>
                </div>
            </div>
            <div class="col-1">
            </div>
        </div>

        <div class="row" style="margin-top: 25px;">
            <div class="col-1">
            </div>

            <div class="col-10">
                <div style="text-align: center;">
                    <h4>Работа</h4>
                    <form id="my_form3">
                        <div class="form-check form-check-inline">
                            <input value="Работаю" class="form-check-input" type="radio" name="flexRadio" id="flexRadioDefault7">
                            <label class="form-check-label" for="flexRadioDefault1">Работаю</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input value="Не работаю" class="form-check-input" type="radio" name="flexRadio" id="flexRadioDefault8">
                            <label class="form-check-label" for="flexRadioDefault1">Не работаю</label>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-1">
            </div>
        </div>

        <div style="text-align: center; margin-top: 25px;">
            <button id="btn-send" class="btn btn-danger btn-menu" style="height: 50px; width: 200px;  background: #e80000;">Узнать</button>
        </div>
    </div>
    <div class="">
        <button class="btn btn-outline-danger" onclick="location.href='/'" id="btn_back">
            <img src="https://gb2.infomed39.ru/upload/medialibrary/1ac/27mrkyfe33b4svv2swwhpjtftyosal62/ddb2de16735c7bbf6ad3a6ad748d12e7_w200.gif" style="width: 50px;">
        </button>
    </div>

</body>
<script>


        $(document).ready(function() {
            $("#btn-send").click(function() {
                var age = $("#rang").val();
                var married = $("input[name='RadioDefault']:checked").val();
                var job = $("input[name='flexRadio']:checked").val();
                console.log(age, married, job);


                $.ajax({
                    type: "POST",
                    url: "/credit_calc",
                    contentType: "application/json",
                    data: JSON.stringify({"age": age, "married": married, "job": job}),
                    success: function (data) {
                        if (data == "True") {
                            swal("Поздравляю! 😵‍💫", "Кредит одобрен!", "success");
                        };
                        if (data == "False") {
                            swal("Отказано 😔", "Попробуйте сново через 30 дней", "error");
                        };
                    },
                    error: function () {
                        swal("🤬", "Ошибка сервера", "warning");
                    }
                });
            });

            $("#rang").on("input", function() {
                var num = $("#rang").val();
                $("#ran").text(num);
            });
        })
</script>
</html>






<!--    <div style="text-align: center;">-->
<!--        <h4>Выбирите возраст</h4>-->
<!--        <div class="form-check form-check-inline">-->
<!--          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">-->
<!--          <label class="form-check-label" for="inlineRadio1">20-30</label>-->
<!--        </div>-->
<!--        <div class="form-check form-check-inline">-->
<!--          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">-->
<!--          <label class="form-check-label" for="inlineRadio2">30-40</label>-->
<!--        </div>-->
<!--        <div class="form-check form-check-inline">-->
<!--          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option1">-->
<!--          <label class="form-check-label" for="inlineRadio1">40-50</label>-->
<!--        </div>-->
<!--        <div class="form-check form-check-inline">-->
<!--          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option2">-->
<!--          <label class="form-check-label" for="inlineRadio2">50-60</label>-->
<!--        </div>-->
<!--    </div>-->





<!--    <div style="text-align: center;">-->
<!--        <h4>Работа</h4>-->
<!--        <div class="form-check form-check-inline">-->
<!--          <input class="form-check-input" type="radio" id="inlineRadio7" value="option1">-->
<!--          <label class="form-check-label" for="inlineRadio1">Работаю</label>-->
<!--        </div>-->
<!--        <div class="form-check form-check-inline">-->
<!--          <input class="form-check-input" type="radio"  id="inlineRadio8" value="option2">-->
<!--          <label class="form-check-label" for="inlineRadio2">Не работаю</label>-->
<!--        </div>-->
<!--    </div>-->



<!--    <div style="margin: 50px;">-->
<!--        <h1></h1>-->
<!--    </div>-->


<!--    <div class="container">-->

<!--    </div>-->


<!--    <div style="margin: 50px;">-->
<!--        <h1></h1>-->
<!--    </div>-->

<!--    <div class="container">-->
<!--      -->


<!--    <div style="margin: 50px;">-->
<!--&lt;!&ndash;        <h1></h1>&ndash;&gt;-->
<!--    </div>-->