<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
      </div>
         <button id="btn-send">отправить</button>
      </div>
</body>
<script>
     $("#btn-send").click(function() {
        var name = $("#inputName").val();
        var surname = $("#inputSurname").val();
        var patronymic = $("#inputPatronymic").val();

        $.ajax({
            type: "POST",
            url: "/index",
            contentType: "application/json",
            data: JSON.stringify({"name": name, "surname": surname,  "patronymic": patronymic})
</script>
</html>